<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <appSettings>
    <add key ="DocumentsScreenFolder" value ="uploads"/>
  </appSettings >
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BirsifirSoap" sendTimeout="00:01:50" maxReceivedMessageSize="1234567" />
      </basicHttpBinding>
      <customBinding>
        <binding name="BirsifirSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://212.154.51.230:8080/Birsifir.asmx"
          binding="basicHttpBinding" bindingConfiguration="BirsifirSoap"
          contract="birSifirServis.BirsifirSoap" name="BirsifirSoap" />
    </client>

  </system.serviceModel>


  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="flightSearch.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
